<h3>Post a Comment</h3>

<%= form_for [ @product, @comment ] do |f| %>
  <p>
    <h3><%= f.label :"Your Name :" %></h3>
    <%= f.text_field :title %>
  </p>
  <p>
    <h3><%= f.label :"Your Comment :" %></h3>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
