<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
