<%= form_for(buyer) do |f| %>
  <% if buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

      <ul>
      <% buyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :adress %>
    <%= f.text_area :adress %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :MobileNumber %>
    <%= f.text_field :MobileNumber %>
  </div>

  <div class="field">
  <%= collection_check_boxes :buyer, :seller_ids, Seller.all, :id, :name do |s|%>  
      <%= s.check_box %>
      <%= s.label do%>
        <%= s.object.name %> (<%= s.object.shopName %>)
      <% end %>
    <% end %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
