<p id="notice"><%= notice %></p>

<h1>Buyers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Email</th>
      <th>Mobilenumber</th>
      <th>Seller Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.name %></td>
        <td><%= buyer.adress %></td>
        <td><%= buyer.email %></td>
        <td><%= buyer.MobileNumber %></td>
        <td><%= buyer.sellers.map {|k| k.name}.join(', ') %></td>
        <td><%= link_to 'Show', buyer %></td>
        <td><%= link_to 'Edit', edit_buyer_path(buyer) %></td>
        <td><%= link_to 'Destroy', buyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <h1>Sellers</h1>
<table>
  <thead>
    <tr>
      <th>Seller name</th>
      <th>Shop Name</th>
      <th>Shop Area</th>
      <th>Buyer Name</th>
    </tr>
  </thead>
 -->
  <!-- <tbody> -->
    <!-- <%# @buyers.each do |buyer| %> -->
      <!-- <%# if buyer.sellers.present? %> -->
        <!-- <%# buyer.sellers.each do |seller|%> -->
        <!-- <tr> -->
          <!-- <td><%#= seller.name %></td> -->
          <!-- <td><%#= seller.shopName %></td> -->
          <!-- <td><%#= seller.ShopArea %></td> -->
          <!-- <td><%#= buyer.name %></td> -->
        <!-- </tr> -->
        <!-- <%# end %> -->
      <!-- <%#end%> -->
    <!-- <%# end %> -->
  <!-- </tbody> -->
<!-- </table> -->
<!-- <br> -->

<%= link_to 'New Buyer', new_buyer_path %>
