<p id="notice"><%= notice %></p>

<p>
  <strong>P:</strong>
  <%= @product.p_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<p>
	<strong>User:</strong>
	<%= @product.user.username %>
</p>

<%= link_to 'Edit', product_edit_path(@product) %> |
<%= link_to 'Back', products_path %>
<br>
<%= link_to "Comment",new_comm_path(:product_id => @product.id)%>